{% extends "base.html" %}
{% block title %}写新日志{% endblock %}
{% block headerlink %}
<link href="/static/css/diary.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="d-contentwrap">
	<div class="d-content">
		<div class="entry mgn-btm20">
			<div>{{ current_time }}</div>
			<div class="mgn-top20">
			<form name="writeform" method="post" action="">{% csrf_token %}
				<textarea name="content" rows="10" class="text basic-input" id="commentContent" style="width:550px;height:auto" placeholder="" value=""></textarea>
			</form>
			</div>
		</div>
		<div class="bn-flat cfright">
	<input type="submit" name="addComment" value="加上去" id="addComment" class="btn-white-submit" style="font-size:12px;font-weight:bold;" title="加上去">
		</div>
	</div>
</div>
{% endblock %}
