{% extends "base_basic.html" %}
{% block title %}欢迎加入时光里{% endblock %}

{% block headerlink %}
<link href="/static/css/login_reg.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="content-area">
<h1>欢迎加入时光里</h1>
{% if register_success %}
<p style="margin-top:20px;color:#060;font-size:20px;">{{ username }}，你已成功加入时光里 :)</p>
<span class="blue-link" style="font-size:14px;">
<a href="{{ request.HOME_PAGE_URL }}accounts/login/">前往登录页</a>
</span>
{% else %}
<form name="form" method="post" action="{{ request.HOME_PAGE_URL }}accounts/register/">{% csrf_token %}

    <div class="item">
    <label>邮箱</label>
    <input id="email" name="email" type="text" class="basic-input" maxlength="60" value={{ p_email }}>
    {% if form_val.email_val_error %}
    <span class="validate-error">{{form_val.email_error}}</span>
    {% else %}
    <span class="tip">用来登录时光里</span>
    {% endif %}
    </div>

    <div class="item">
    <label>密码</label>
    <input id="password" name="password1" type="password" class="basic-input" maxlength="20">
	{% if form_val.password1_val_error %}
    <span class="validate-error">{{form_val.password1_error}}</span>
    {% else %}
    <span class="tip">字母、数字或符号，最短6个字符，区分大小写</span>
    {% endif %}
    </div>
    
    <div class="item">
    <label>确认密码</label>
    <input id="password" name="password2" type="password" class="basic-input" maxlength="20">
    {% if form_val.password2_val_error %}
    <span class="validate-error">{{form_val.password2_error}}</span>
    {% else %}
    <span class="tip">请再次输入密码</span>
    {% endif %}
    </div>

    <div class="item">
    <label>名号</label>
    <input id="name" name="name" type="text" class="basic-input" maxlength="14" value={{ p_name }}>
    {% if form_val.name_val_error %}
    <span class="validate-error">{{form_val.name_error}}</span>
    {% else %}
    <span class="tip">中、英文均可，最长14个字符</span>
    {% endif %}
    </div>
	
	<div class="item">
    <label>邀请码</label>
    <input id="invite_code" name="invite_code" type="text" class="basic-input" maxlength="60" value={{ p_invite_code }}>
    {% if form_val.inv_code_val_error %}
    <span class="validate-error">{{form_val.inv_code_error}}</span>
    {% else %}
    <span class="tip">邀请注册中</span>
    {% endif %}
    </div>

    
    <div class="item"  style="margin-top:25px">
    <label>&nbsp;</label>
    <input type="submit" value="注册" id="button" class="btn-submit enabled" title="♥欢迎注册">
    </div>
</form>

{% endif %}

</div>
{% endblock %}