@charset "utf-8";
/* CSS Document */
.text
{
	padding-top: 5px;
	line-height: 1.7em;
	font-size:16px;
	color: #333;
}
.d-contentwrap
{
	border-radius: 10px;
	border-width: 1px;
	padding: 1px;
	position: relative;
	margin:10px auto;
	border-style: solid;
	/*border-color: #F2F1EF;*/
	border-color: #F2F2F2;
	/*background-color: #DEDDDC;*/
	background-color: #DEDDDC;
	width: 650px;
}
.d-past-contentwrap {
	margin-left:32px;
}
.d-content {
	border-radius: 10px;
	border-width: 3px;
	padding-top: 38px;
	padding-bottom: 21px;
	position: relative;

	background-color: white;

	border-style: solid;
	border-color: #F7F7F7;
	padding: 50px 42px;
}

.d-past-slide{
	margin-left:70px;
	margin-top:10px;
	width:100px;
}


.tab {
position: absolute;
left: -37px;
background: url(/static/img/bg_tab.gif) no-repeat;
height: 26px;
width: 37px;
text-align: center;
font-weight: bold;
font-size: 0.85em;
padding-top: 4px;
color: #799AB2;
text-shadow: 0 1px #EDF6FE;
}

.time{
ont-family: georgia;
font-size: 1.18em;
/*border-bottom: 1px solid #E5E5E5;*/
padding: 0 0 22px 0;
color: #A41100;
}

.border_line {
border-bottom: 1px solid #E5E5E5;
}

