<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{% block title %}diarylife{% endblock %}
</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css" media="all" />
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
{% block headerlink %}{% endblock %}
</head>
<body>
<div class="container">
<div class="header">
	<div class="logo">
	</div>
	<div class="account">
		<ul class="menu green-link">
			{% if request.user.is_authenticated %}
			<li><a href="http://127.0.0.1:8000/accounts/profile/">{{ request.user }}的帐号</a></li>
			<li><a href="http://127.0.0.1:8000/accounts/logout/">登出</a></li>
			{% else %}
			<li><a href="http://127.0.0.1:8000/accounts/login/">登录</a></li>
			<li><a href="http://127.0.0.1:8000/accounts/register/">注册</a></li>
			{% endif %}
		</ul>
	</div>
</div>

<div class="content">
<div style="height:1px;"></div>
{% block content %}{% endblock %}
</div>
<div class="footer">
    <span class="fleft">
        &copy; 2012 restran, all rights reserved
    </span>
</div>
</div>
</body>
</html>
